<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
}
function setLocOnPage(lat,lon){
  document.getElementById("locpos").innerHTML = lat  + "," + lon;
  document.getElementById("elev5").href = "/elev_line_main/" + lat  + ";" + lon+"/20";

}
function readLocInput() {
  var pos = document.getElementById("locValue").value;
  var lat = pos.split(",")[0];
  var lon = pos.split(",")[1];
  lat = lat.replace(" ","")
  lon = lon.replace(" ","")
  setLocOnPage(lat,lon);
}
function showPosition(position) {
  setLocOnPage(position.coords.latitude,position.coords.longitude);
}
</script>
    
  <body>

    <div class="navmenu">
      <nav>
        
        <div id="locpos">
           
        </div>
        
        <ul>          
          <p><button onclick="getLocation()">Get Location</button></p>
          <li><a href="/edit_tweet">Edit</a></li>
          <li>
            <a href="/extnews">News</a>,
            <a href="/extmasto">Social</a>,
            <a href="/static/market/index.html">Market</a>
          </li>
          <li>
            <a id="weat" href="/static/weather/index.html">Weather/Pollution</a>
          </li>
          <li><a href="/book">Loogle/Recoll</a></li>
          <li><a href="/url">Lynx</a></li>
          <li><a href="/static/travel/">Trip Map</a></li>
          <li>
            <a href="/static/elev/index.html">
              Elevation
            </a>,
            <a id="elev5" href="/elev_line_main/40.9544;29.09139">
              Line Elevation
            </a> 
          </li>
          <li>
             <a href="/static/trgeo.html">Camps, Parks</a>
          </li>
          <li>
             <a href="/static/recom/index.html">Movie Recommendations</a>
          </li>
          <a href="/static/calen/index.html">Calendar</a>
          <li><a id="profile" href="/static/prof/index.html">Profile</a></li>
          <li><a href="/static/path/index.html">Directions</a></li>
          <li>
            <a id='amenities' href="/static/osm/index.html">Amenities</a>,
            <a id='name_lookup' href="/static/picker/index.html">Place Lookup</a>
          </li>
          <p>
            <p><button onclick="readLocInput()">Enter Location</button></p>
            <p><input type="text" id="locValue" ></input></p>
          </p>
        </ul>
      </nav>
    </div>
  </body>
</html>
