<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="navmenu">
      <nav>                
        <ul>          
          <p><button onclick="getLocation()">Get Location</button></p>
          <li><a href="/edit_tweet">Edit</a></li>
          <li>
            <a href="/extnews">News</a>,
            <a href="/extvids">Vids</a>,
            <a href="/extmasto">Social</a>
          </li>
          <li><a href="/book">Loogle</a></li>
          <li><a href="/url">Lynx</a></li>
          <li>
             <a href="/static/trgeo.html">Camps, Parks</a>
          </li>
          <li>
            <a href="/static/wdired/index.html">Dired</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
