<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>      
  
  <form action="/submit_tubedl" method="post">

    Audio<input type="radio" id="audio" value="Audio" name="multiradio" checked/>
    Video<input type="radio" id="video" value="Video" name="multiradio"/>
    
    <input type="text" name="dload"/>
    <br/> <br/> 
    <input type="submit">
   </form>


   
 </html>

 
